USE [master]
GO
/****** Object:  Database [Library]    Script Date: 21.05.2023 10:31:31 ******/
CREATE DATABASE [Library]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Library', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Library_log', FILENAME = N'D:\SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Library_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Library].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Library]
GO
/****** Object:  Table [dbo].[register]    Script Date: 21.05.2023 10:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[register](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[login_user] [varchar](50) NOT NULL,
	[password_user] [varchar](50) NOT NULL,
 CONSTRAINT [PK_register] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Авторы]    Script Date: 21.05.2023 10:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Авторы](
	[Код_автора] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [varchar](50) NULL,
 CONSTRAINT [PK_Авторы] PRIMARY KEY CLUSTERED 
(
	[Код_автора] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Выдачи]    Script Date: 21.05.2023 10:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Выдачи](
	[Код_выдачи] [int] IDENTITY(1,1) NOT NULL,
	[Код_книги] [int] NOT NULL,
	[Дата_выдачи] [smalldatetime] NULL,
	[Дата_сдачи] [smalldatetime] NULL,
	[Чит_билет] [int] NOT NULL,
 CONSTRAINT [PK_Выдачи] PRIMARY KEY CLUSTERED 
(
	[Код_выдачи] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Книги]    Script Date: 21.05.2023 10:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Книги](
	[Код_книги] [int] IDENTITY(1,1) NOT NULL,
	[Название] [varchar](50) NULL,
	[Код_автора] [int] NOT NULL,
	[Год_издания] [datetime] NULL,
	[Количество] [smallint] NULL,
 CONSTRAINT [PK_Книги] PRIMARY KEY CLUSTERED 
(
	[Код_книги] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Читатели]    Script Date: 21.05.2023 10:31:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Читатели](
	[Чит_билет] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [varchar](50) NULL,
	[Адрес] [varchar](50) NULL,
	[Телефон] [varchar](50) NULL,
 CONSTRAINT [PK_Читатели] PRIMARY KEY CLUSTERED 
(
	[Чит_билет] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Выдачи]  WITH CHECK ADD  CONSTRAINT [FK_Код_книг] FOREIGN KEY([Код_книги])
REFERENCES [dbo].[Книги] ([Код_книги])
GO
ALTER TABLE [dbo].[Выдачи] CHECK CONSTRAINT [FK_Код_книг]
GO
ALTER TABLE [dbo].[Выдачи]  WITH CHECK ADD  CONSTRAINT [FK_Чит_билет] FOREIGN KEY([Чит_билет])
REFERENCES [dbo].[Читатели] ([Чит_билет])
GO
ALTER TABLE [dbo].[Выдачи] CHECK CONSTRAINT [FK_Чит_билет]
GO
ALTER TABLE [dbo].[Книги]  WITH CHECK ADD  CONSTRAINT [FK_Код_автора] FOREIGN KEY([Код_автора])
REFERENCES [dbo].[Авторы] ([Код_автора])
GO
ALTER TABLE [dbo].[Книги] CHECK CONSTRAINT [FK_Код_автора]
GO
USE [master]
GO
